# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 4c7574fdc5b688b6e15c5e821e41b5201dc0014236177fe8164882d3d6c9b0ac21b7eaa9480fbbb13abae4c56fcb2244d116da953ec03bba0fd8b8d6c1cd3aec

test:
  secret_key_base: 2e643561b012cd2a17c40881e4d7a9e043cafd27a621cb288b19422d98d59ace4a41876bcc515a181feabf0ddff27c9cc184dc443c68f8b387e9a7828fda9f11

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
